<!DOCTYPE html>
<html>
<head>

    <script type="text/javascript">
        function graphexInitialize() {
            if(!window.location.href.substr(0,17)=="http://localhost:") {
                if(!IsChrome()) {
                    window.location="../html/browserSupport.html";
                    return;
                }
            }
            graphexMain();
            // Chrome 1+
            function IsChrome() {
                return !!window.chrome //&& !!window.chrome.webstore;
            }
        };
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108035161-1"></script>
    <script>
        window.dataLayer=window.dataLayer||[];
        function gtag() {
            //dataLayer.push(arguments);  //-include arguments
        }
        gtag('js',new Date());
        gtag('config','UA-108035161-1');
    </script>

    <title>Graphex</title>
    <link rel="icon" href="nodes1.png">

    <!--------- INJECTED --------------->
    <!-- inject:css -->
    <!-- endinject -->
    <!----------- DEPENDENCIES -------->
    <!------------ Bootstrap ---------->
    <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
    <!--------- MINIFIED --------------->
    <!-- build:css scripts/styles.css -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="css/jedsGraph.css" rel="stylesheet">
    <link href="css/dropdownMenu.css" rel="stylesheet">
    <!-- endbuild -->
    <!-- build:js scripts/libs.js -->
    <!--------- JQuery --------->
    <!--<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>-->
    <script src="deps/jquery-1.11.1.min.js"></script>
    <!--<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>-->
    <script src="deps/jquery.mobile-1.4.5.min.js"></script>
    <!--------- VUE --------->
    <!--<script src="https://unpkg.com/vue"></script>-->
    <script src="deps/vue.js"></script>
    <!------- Vivagraph -------->
    <!--<script type="text/javascript" src="deps/vivagraph.js"></script>-->
    <script src="deps/vivagraph.min.js"></script>
    <!-- endbuild -->
    <!--<link href="html/help/formulas.html" rel="subresource">-->
    <link href="html/help/formulas.html" rel="subresource">
    <link href="html/home.html" rel="subresource">
    <link href="html/browserSupport.html" rel="subresource">

    <!--------- MINIFIED --------------->
    <!-- build:js scripts/initconfig.js -->
    <script type="text/javascript" src="custom/config/configloader.js"></script>
    <script type="text/javascript" src="custom/config/defaultConfig.js"></script>
    <script type="text/javascript" src="custom/config/Data1.js"></script>
    <script type="text/javascript" src="scripts/Config/baseGraphConfig.js"></script>
    <script type="text/javascript" src="scripts/Config/baseLinkConfig.js"></script>
    <script type="text/javascript" src="scripts/Config/baseNodeConfig.js"></script>
    <!-- endbuild -->
    <!--------- MINIFIED --------------->
    <!-- build:js scripts/combined.js -->
    <script type="text/javascript" src="scripts/Services/StringHelper.js"></script>
    <script type="text/javascript" src="scripts/_factoryClasses/NodeFunctions.js"></script>
    <script type="text/javascript" src="scripts/Config/Services/ConfigHelper.js"></script>
    <script type="text/javascript" src="scripts/Tests/UnitTestFramework.js"></script>
    <script type="text/javascript" src="scripts/VueComponents/Arrangers/SimpleArranger.js"></script>
    <script type="text/javascript" src="scripts/VueComponents/Translators/SimpleTranslator.js"></script>
    <script type="text/javascript" src="scripts/VueComponents/Translators/UrlParamsTranslator.js"></script>
    <script type="text/javascript" src="scripts/VueComponents/Translators/createGraphFromJson.js"></script>
    <script type="text/javascript" src="scripts/VueComponents/Translators/createJsonFromGraph.js"></script>
    <script type="text/javascript" src="scripts/VueComponents/Translators/JsonTranslator.js"></script>
    <script type="text/javascript" src="scripts/VueComponents/Translators/ParseTreeTranslator.js"></script>
    <script type="text/javascript" src="scripts/_functions/uiCompliments/panelCalls.js"></script>
    <script type="text/javascript" src="scripts/_functions/uiCompliments/toolPanelMangement.js"></script>
    <script type="text/javascript" src="scripts/_functions/uiCompliments/uiUpdates.js"></script>
    <script type="text/javascript" src="scripts/_functions/citizenMethods.js"></script>
    <script type="text/javascript" src="scripts/_functions/generalMethods.js"></script>
    <script type="text/javascript" src="scripts/_components/Graph/Methods/graphMethods.js"></script>
    <script type="text/javascript" src="scripts/_components/Link/Methods/linkMethods.js"></script>
    <script type="text/javascript" src="scripts/_components/Node/Methods/nodeMethods.js"></script>
    <script type="text/javascript" src="scripts/_components/Console/consoleService.js"></script>
    <script type="text/javascript" src="scripts/_services/common.js"></script>
    <script type="text/javascript" src="scripts/Services/JsonHelper.js"></script>
    <script type="text/javascript" src="scripts/Services/HttpClient.js"></script>
    <script type="text/javascript" src="scripts/Services/GraphHelper.js"></script>
    <script type="text/javascript" src="scripts/Services/BrowserHelper.js"></script>
    <script type="text/javascript" src="scripts/Services/UrlHelper.js"></script>
    <script type="text/javascript" src="scripts/Data/Services/Neo4j/data2Graph.js"></script>
    <script type="text/javascript" src="scripts/Data/Services/Neo4j/neo4j.js"></script>
    <script type="text/javascript" src="scripts/Data/Services/Neo4j/graph2Data.js"></script>
    <script type="text/javascript" src="scripts/Data/Services/LocalStorage/DataService.js"></script>
    <script type="text/javascript" src="scripts/Data/Services/LocalStorage/data2Graph.js"></script>
    <script type="text/javascript" src="scripts/Data/Services/LocalStorage/DataDriver.js"></script>
    <script type="text/javascript" src="scripts/Data/Services/LocalStorage/DataStringHelper.js"></script>
    <script type="text/javascript" src="scripts/_cyclicFunctions/animations.js"></script>
    <script type="text/javascript" src="scripts/_cyclicFunctions/dataMonitoring.js"></script>
    <script type="text/javascript" src="scripts/Models/Entity.js"></script>
    <script type="text/javascript" src="scripts/Models/Relationship.js"></script>
    <script type="text/javascript" src="scripts/Models/DataEntity.js"></script>
    <script type="text/javascript" src="scripts/Models/DataRelationship.js"></script>
    <script type="text/javascript" src="scripts/Models/interactionOptionsType.js"></script>
    <script type="text/javascript" src="scripts/Models/linkDataType.js"></script>
    <script type="text/javascript" src="scripts/Models/linkUiElementsType.js"></script>
    <script type="text/javascript" src="scripts/Models/neo_APIcall.js"></script>
    <script type="text/javascript" src="scripts/Models/neo_Statement.js"></script>
    <script type="text/javascript" src="scripts/Models/neo4jConnectionType.js"></script>
    <script type="text/javascript" src="scripts/Models/neoLabelType.js"></script>
    <script type="text/javascript" src="scripts/Models/nodeDataType.js"></script>
    <script type="text/javascript" src="scripts/Models/nodeUiElementsType.js"></script>
    <script type="text/javascript" src="scripts/_components/Node/Events/nodeEvents.js"></script>
    <script type="text/javascript" src="scripts/_components/Node/Appearances/defineNodeAppearance_dataNode.js"></script>
    <script type="text/javascript" src="scripts/_components/Node/Appearances/defineNodeAppearance_plannedNode.js"></script>
    <script type="text/javascript" src="scripts/_components/Node/Appearances/defineNodeAppearance_subNode.js"></script>
    <script type="text/javascript" src="scripts/Models/propertyType.js"></script>
    <script type="text/javascript" src="scripts/Models/themeType.js"></script>
    <script type="text/javascript" src="scripts/Models/timeoutElementType.js"></script>
    <script type="text/javascript" src="scripts/Models/viewOptionsType.js"></script>
    <script type="text/javascript" src="scripts/Models/GraphElement.js"></script>
    <script type="text/javascript" src="scripts/Models/PropertyTypeDef.js"></script>
    <script type="text/javascript" src="scripts/Models/EntityTypeDef.js"></script>
    <script type="text/javascript" src="scripts/020_define_globals.js"></script>
    <script type="text/javascript" src="scripts/Tests/UnitTests/DataDriver_LocalStorage_Tests.js"></script>
    <script type="text/javascript" src="scripts/Tests/UnitTests/Config_Tests.js"></script>
    <script type="text/javascript" src="scripts/Tests/UnitTests/Translator_Tests.js"></script>
    <script type="text/javascript" src="scripts/Tests/UnitTests/JsonHelper_Tests.js"></script>
    <script type="text/javascript" src="scripts/Tests/UnitTests/GraphHelper_Tests.js"></script>
    <script type="text/javascript" src="scripts/Config/initializeConfiguration.js"></script>
    <script type="text/javascript" src="scripts/030_initSequence/012.setup_UI.js"></script>
    <script type="text/javascript" src="scripts/main.js"></script>
    <script type="text/javascript" src="scripts/031_mainSequence/010_prepare_GraphObject.js"></script>
    <script type="text/javascript" src="scripts/_components/Node/Templates/020_define_NodeObjects.js"></script>
    <script type="text/javascript" src="scripts/_components/Node/Methods/drawNode.js"></script>
    <script type="text/javascript" src="scripts/_components/Link/Templates/040_define_LinkObjectsCommonAssets.js"></script>
    <script type="text/javascript" src="scripts/_components/Link/Templates/050_define_LinkObjects.js"></script>
    <script type="text/javascript" src="scripts/_components/Link/Methods/drawLink.js"></script>
    <script type="text/javascript" src="scripts/031_mainSequence/070_render_GraphObject(starts_up_Cycles).js"></script>
    <script type="text/javascript" src="scripts/031_mainSequence/080_set_UiStartupSettings.js"></script>
    <!-- endbuild -->

</head>

<body onload='graphexInitialize()'>



    <div id="vue-app">
        <!--Graph-->
        <vw-graph></vw-graph>
        <!--Console-->
        <vw-formula-box v-bind:formulaprop="formulaToolbar" v-bind:panels="panels"></vw-formula-box>
        <vw-left-sidebar v-bind:sysdata="systemData" v-bind:panels="panels"></vw-left-sidebar>
        <vw-right-sidebar v-bind:tabs="tabs" v-bind:panels="panels"></vw-right-sidebar>
        <!--<vw-mode-indicator v-bind:indicatorprop="indicator"></vw-mode-indicator>-->
        <vw-topbar v-bind:topbar="topbar"></vw-topbar>
        <!--Modals-->
        <vw-info-modal v-bind:formulaprop="formulaToolbar"></vw-info-modal>
        <vw-modal-user-confirm v-bind:userconfirm="modals.userConfirm"></vw-modal-user-confirm>
        <vw-modal-info v-bind:modal="modals.userInfo"></vw-modal-info>
    </div>

    <div class="nodeFlyout" id='panel.node'>
        <ul>
            <li>Option 1</li>
            <li>Option 2</li>
            <li>Option 3</li>
        </ul>
        <button onclick="closeDialog('myDialog')">Close</button>
    </div>

    <!---------COMPONENT TEMPLATES --------------->
    <script type="text/x-template" id="vueTemplate-panel-nodeEditor">
        <div class='modPanel' id='nodeEditor'>
            <div class="panelHead">Node Type Editor<i class="glyphicon glyphicon-menu-hamburger pull-right"></i></div>

            <div class="tab">
                <button class="tablinks" v-on:click="tabsprop.selectedMatchingTab='NEW'" v-bind:class="{ active: tabsprop.selectedMatchingTab==='NEW'}">Match</button>
            </div>
            <div>
                <vw-panel-nodeEditor-matching v-show="tabsprop.selectedMatchingTab==='NEW'" v-bind:tabs="tabsprop"></vw-panel-nodeEditor-matching>
            </div>

            <div class="tab">
                <button class="tablinks" v-on:click="tabsprop.selectedStyleTab='STYLES'" v-bind:class="{ active: tabsprop.selectedStyleTab==='STYLES'}">Style</button>
                <button class="tablinks" v-on:click="tabsprop.selectedStyleTab='EFFECTS'" v-bind:class="{ active: tabsprop.selectedStyleTab==='EFFECTS'}">Effects</button>
                <button class="tablinks" v-on:click="tabsprop.selectedStyleTab='BEHAVIOURS'" v-bind:class="{ active: tabsprop.selectedStyleTab==='BEHAVIOURS'}">Binding</button>
            </div>
            <div>
                <vw-panel-nodeEditor-styles v-show="tabsprop.selectedStyleTab==='STYLES'" v-bind:styles="tabsprop.styles"></vw-panel-nodeEditor-styles>
                <vw-panel-nodeEditor-effects v-show="tabsprop.selectedStyleTab==='EFFECTS'" v-bind:effects="tabsprop.effects"></vw-panel-nodeEditor-effects>
                <vw-panel-nodeEditor-behaviours v-show="tabsprop.selectedStyleTab==='BEHAVIOURS'" v-bind:behaviours="tabsprop.behaviours"></vw-panel-nodeEditor-behaviours>
            </div>

            <div class="tab">
                <button class="tablinks" v-on:click="tabsprop.saveMatch()">Save</button>
                <button class="tablinks" v-on:click="tabsprop.reset()">Reset</button>
            </div>

            <!--<div class ="tabcontent">
            <vw-graph></vw-graph>
        </div>-->
        </div>
    </script>

    <script type="text/x-template" id="vueTemplate-panel-nodeEditor-matching">
        <div class="tabcontent">

            <label class="canCheck"
                   v-on:click="(tabs.newMatching.bExistingConfig=false); (tabs.newMatching.selectedConfig=null)"
                   v-bind:class="{ active: tabs.newMatching.bExistingConfig }">Existing Config:</label>
            <select class="fullbox" v-model='tabs.newMatching.selectedConfig'
                    v-bind:class="{ active: tabs.newMatching.bExistingConfig }"
                    v-on:change="tabs.selectExisting(tabs.newMatching.selectedConfig); tabs.newMatching.bExistingConfig=true">
                <option v-for="config in tabs.newMatching.masterEntityConfigs" v-bind:value="config">{{config.configName}}</option>
            </select>



            <label class="active">Node type of: </label>
            <input class="active" v-model.lazy='tabs.newMatching.selectedNodeType' v-bind:value="tabs.newMatching.selectedNodeType"></input>

            <label v-bind:class="{ active: tabs.newMatching.bHasProperties }">
                With properties:
                <span v-on:click="tabs.newMatching.addProperty(); tabs.newMatching.bHasProperties=true;" class="btn btn-sm"><i class="glyphicon glyphicon-plus"></i></span>
            </label>

            <hr />
            <table>
                <th><label>Name  </label></th>
                <th><label>Value </label></th>
                <tr v-for="property in tabs.newMatching.properties">
                    <td><input v-bind:value="property.key" class="halfbox" v-bind:class="{ active: tabs.newMatching.bHasProperties }"></input></td>
                    <td><input v-bind:value="property.value" class="halfbox" v-bind:class="{ active: tabs.newMatching.bHasProperties }"></input></td>
                </tr>
            </table>
        </div>
    </script>

    <script type="text/x-template" id="vueTemplate-panel-nodeEditor-existing">
        <div class="tabcontent">

            <table class="table">
                <tr>
                    <td><label class="canCheck active">Config:</label></td>
                    <td>
                        <select class="pull-right active" v-model='tabs.existingMatching.selectedConfig'
                                v-on:change="tabs.selectExisting(tabs.existingMatching.selectedConfig)">
                            <option v-for="config in tabs.existingMatching.masterEntityConfigs" v-bind:value="config">
                                {{config.configName}}
                            </option>
                        </select>
                    </td>
                </tr>
            </table>

        </div>
    </script>

    <script type="text/x-template" id="vueTemplate-panel-nodeEditor-styles">
        <div class="tabcontent">

            <table class="table">
                <tr>
                    <td>
                        <label class="canCheck"
                               v-on:click="(styles.bNodeColor=!styles.bNodeColor)"
                               v-bind:class="{ active: styles.bNodeColor }">Background Col:</label>
                    </td>
                    <td>
                        <input type="color" class="tinybox pull-right"
                               v-bind:class="{ active: styles.bNodeColor }"
                               v-model.lazy="styles.selectedNodeColor"
                               v-on:change="styles.updateNodeBackgroundColor(); styles.bNodeColor=true">
                        </input>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="canCheck"
                               v-on:click="(styles.bNodeBorderColor=!styles.bNodeBorderColor)"
                               v-bind:class="{ active: styles.bNodeBorderColor }">Border Color:</label>
                    </td>
                    <td>
                        <input type="color" class="tinybox pull-right"
                               v-bind:class="{ active: styles.bNodeBorderColor }"
                               v-model.lazy="styles.selectedNodeBorderColor"
                               v-on:change="styles.updateNodeBorderColor(); styles.bNodeBorderColor=true">
                        </input>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="canCheck"
                               v-on:click="(styles.bNodeTextColor=!styles.bNodeTextColor)"
                               v-bind:class="{ active: styles.bNodeTextColor }">Text Color:</label>
                    </td>
                    <td>
                        <input type="color" class="tinybox pull-right"
                               v-bind:class="{ active: styles.bNodeTextColor }"
                               v-model.lazy="styles.selectedNodeTextColor"
                               v-on:change="styles.updateNodeTextColor(); styles.bNodeTextColor=true">
                        </input>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="canCheck"
                               v-on:click="(styles.bNodeCircleTextColor=!styles.bNodeCircleTextColor)"
                               v-bind:class="{ active: styles.bNodeCircleTextColor }">Circle Text Color:</label>
                    </td>
                    <td>
                        <input type="color" class="tinybox pull-right"
                               v-bind:class="{ active: styles.bNodeCircleTextColor }"
                               v-model.lazy="styles.selectedNodeCircleTextColor"
                               v-on:change="styles.updateNodeCircleTextColor(); styles.bNodeCircleTextColor=true">
                        </input>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="canCheck"
                               v-on:click="(styles.bNodeSize=!styles.bNodeSize)"
                               v-bind:class="{ active: styles.bNodeSize }">Size:</label>
                    </td>
                    <td>
                        <input class="tinybox pull-right" type="number" value="25"
                               v-bind:class="{ active: styles.bNodeSize }"
                               v-model.lazy='styles.selectedNodeSize'
                               v-on:change="styles.updateNodeSize(styles.selectedNodeSize); styles.bNodeSize=true">
                        </input>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="canCheck"
                               v-on:click="(styles.bNodeShape=!styles.bNodeShape)"
                               v-bind:class="{ active: styles.bNodeShape }">Shape:</label>
                    </td>
                    <td>
                        <select class="pull-right"
                                v-bind:class="{ active: styles.bNodeShape }"
                                v-model='styles.selectedNodeShape'
                                v-on:change="styles.updateNodeShape(); styles.bNodeShape=true">
                            >
                            <option v-for="shape in styles.shapes" v-bind:value="shape.value">{{shape.key}}</option>
                        </select>
                    </td>
                </tr>
            </table>
            <label class="canCheck"
                   v-on:click="(styles.bNodeImageUrl=!styles.bNodeImageUrl)"
                   v-bind:class="{ active: styles.bNodeImageUrl }">Image URL:</label>
            <input v-bind:class="{ active: styles.bNodeImageUrl }"
                   v-model.lazy='styles.selectedNodeImageUrl'
                   v-on:change="styles.updateNodeImage(styles.selectedNodeImageUrl); styles.bNodeImageUrl=true">
            </input>
        </div>
    </script>

    <script type="text/x-template" id="vueTemplate-panel-nodeEditor-effects">
        <div class="tabcontent">
            <table class="table">
                <tr>
                    <td>
                        <label class="canCheck"
                               v-on:click="(effects.activateEffectHaze=!effects.activateEffectHaze)"
                               v-bind:class="{ active: effects.activateEffectHaze }">Haze:</label>
                    </td>
                    <td><input type="checkbox" v-model="effects.hasEffectHaze" v-on:change="effects.activateEffectHaze=true" value="false" v-bind:class="{ active: effects.activateEffectHaze }"></input></td>
                </tr>
                <tr>
                    <td>
                        <label class="canCheck"
                               v-on:click="(effects.activateEffectShadow=!effects.activateEffectShadow)"
                               v-bind:class="{ active: effects.activateEffectShadow }">Shadow:</label>
                    </td>
                    <td><input type="checkbox" v-model="effects.hasEffectShadow" v-on:change="effects.activateEffectShadow=true" value="false" v-bind:class="{ active: effects.activateEffectShadow }"></input></td>
                </tr>
                <tr>
                    <td>
                        <label class="canCheck"
                               v-on:click="(effects.activateEffectGlass=!effects.activateEffectGlass)"
                               v-bind:class="{ active: effects.activateEffectGlass }">Glass:</label>
                    </td>
                    <td><input type="checkbox" v-model="effects.hasEffectGlass" v-on:change="effects.activateEffectGlass=true" value="false" v-bind:class="{ active: effects.activateEffectGlass }"></input></td>
                </tr>
                <tr>
                    <td>
                        <label class="canCheck"
                               v-on:click="(effects.activateEffectRounded=!effects.activateEffectRounded)"
                               v-bind:class="{ active: effects.activateEffectRounded }">Rounded:</label>
                    </td>
                    <td><input type="checkbox" v-model="effects.hasEffectRounded" v-on:change="effects.activateEffectRounded=true" value="false" v-bind:class="{ active: effects.activateEffectRounded }"></input></td>
                </tr>

            </table>
        </div>
    </script>

    <script type="text/x-template" id="vueTemplate-panel-nodeEditor-behaviours">
        <div class="tabcontent">

            <label class="canCheck" v-on:click="(behaviours.bDisplayText=!behaviours.bDisplayText)" v-bind:class="{ active: behaviours.bDisplayText }"> Center text: </label>
            <table>
                <tr>
                    <td>
                        <select class="halfbox pull-right"
                                v-model="behaviours.selectedDisplayTextType"
                                v-bind:class="{ active: behaviours.bDisplayText }"
                                v-on:change="behaviours.bDisplayText=true">
                            <option v-for="type in ['type','property','static','first']" v-bind:value="type">
                                {{type}}
                            </option>
                        </select>
                    </td>
                    <td> <input class="halfbox pull-right" v-model="behaviours.selectedDisplayField" v-bind:class="{ active: behaviours.bDisplayText }"></input> </td>
                </tr>
            </table>

            <label class="canCheck" v-on:click="(behaviours.bDisplayImage=!behaviours.bDisplayImage)" v-bind:class="{ active: behaviours.bDisplayImage }"> Image URL: </label>
            <table>
                <tr>
                    <td>
                        <select class="halfbox pull-right"
                                v-model="behaviours.selectedNodeImageType"
                                v-bind:class="{ active: behaviours.bDisplayImage }"
                                v-on:change="behaviours.bDisplayImage=true">
                            <option v-for="type in ['property','static']" v-bind:value="type">
                                {{type}}
                            </option>
                        </select>
                    </td>
                    <td> <input class="halfbox pull-right" v-model="behaviours.selectedNodeImageValue" v-bind:class="{ active: behaviours.bDisplayImage }"></input> </td>
                </tr>
            </table>


            <hr>

        </div>
    </script>

    <script type="text/x-template" id="vueTemplate-topbar">
        <div id='graphexTopBar'>
            <table>
                <tr>
                    <td>
                        <div class="logo">GRAPH<i class="glyphicon glyphicon-menu-hamburger"></i>X</div>
                    </td>
                    <td>
                        <vw-dropdown-menu v-for="item in topbar.items"
                                          v-bind:name="item.caption"
                                          v-bind:menuitems="item.items">
                        </vw-dropdown-menu>
                    </td>
                </tr>
                <!--<vw-mode-indicator v-bind:indicatorprop="topbar.indicator"></vw-mode-indicator>-->
            </table>

        </div>
    </script>

    <script type="text/x-template" id="vueTemplate-dropdown-menu">
        <span class="dropdown">
            <button class="dropbtn">{{name}}</button>
            <div class="dropdown-content">
                <a href="#"
                   v-for="item in menuitems"
                   v-on:click="item.func()">{{ item.caption }}</a>
            </div>
        </span>
    </script>

    <script type="text/x-template" id="vueTemplate-panel-nodeSelector">
        <div class='modPanel' id='typeSelectors'>
            <div class="panelHead">Type Selector<i class="glyphicon glyphicon-menu-hamburger pull-right"></i></div>

            <div class="labelSelectorDisplay flexcroll" id='labelSelectorsPanel'>
                <table class="labelSelectorText">

                    <tr>
                        <td>
                            <div v-on:click="sysdata.highlightAllNodes()" class="labelSelectorItem">
                                All &nbsp;
                            </div>
                        </td>
                        <td>
                            <div id="labelSelector.fetcher"
                                 class="forlabelselector mytooltip pull-right"
                                 v-on:click="sysdata.getAllEntities()"
                                 v-bind:style="{ 'background-color': 'gray' }">
                                &nbsp;
                                <div class="mytooltiptext ttleft ttupper">
                                    Fetch all from database
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr v-for="(selector, index) in sysdata.typeSelectors">
                        <td>
                            <div v-on:click="sysdata.highlightNodesByType(index)" class="labelSelectorItem">
                                {{ selector.name }} &nbsp;
                            </div>
                        </td>
                        <td>
                            <div id="labelSelector.fetcher"
                                 class="forlabelselector mytooltip pull-right"
                                 v-on:click="sysdata.getEntitiesByType(selector.name, index)"
                                 v-bind:style="{ 'background-color': selector.color }">
                                {{ selector.instanceCount }}
                                <div class="mytooltiptext ttleft ttupper">
                                    Fetch from database
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </script>

    <script type="text/x-template" id="vueTemplate-footer">
        <div id='graphexFooter'>

        </div>
    </script>

    <script type="text/x-template" id="vueTemplate-graph">
        <div id='graphPanel'>
            <div id='graphContainer'></div>
        </div>
    </script>

    <script type="text/x-template" id="vueTemplate-left-sidebar">
        <div v-if="panels.nodeTypeSelector.show" id='leftSidebar' class="flexcroll">
            <vw-panel-nodeSelector v-if="panels.nodeTypeSelector.show" v-bind:sysdata="sysdata"></vw-panel-nodeSelector>
        </div>
    </script>

    <script type="text/x-template" id="vueTemplate-right-sidebar">
        <div v-if="panels.nodeTypeEditor.show" id='rightSidebar' class="flexcroll">
            <vw-panel-nodeEditor v-if="panels.nodeTypeEditor.show" v-bind:tabsprop="tabs"></vw-panel-nodeEditor>
        </div>
    </script>

    <script type="text/x-template" id="vueTemplate-info-modal">
        <dialog class="inputModal shadow" v-bind:id="modalId">
            <button v-if='canCancel' onclick='new VueConsoleHelper().CloseGlobalInfoModal(this.parentElement.id)' class="pull-right">&times;</button>
            <form class="form-group">
                <h2>{{ strHeader }}</h2>
                <div class="inputModal modalContent flexcroll"
                     v-html="htmlContent">
                </div>
                <button v-show='button1Caption' v-on:click="button1Function||null" class="pull-right">{{ button1Caption }}</button>
                <button v-show='button2Caption' v-on:click="button2Function||null" class="pull-right">{{ button2Caption }}</button>
            </form>
        </dialog>
    </script>

    <script type="text/x-template" id="vueTemplate-modal-user-confirm">
        <dialog class="inputModal shadow" id="UserConfirm">
            <button v-on:click="userconfirm.ifCancelled()" class="pull-right">&times;</button>
            <div class="form-group">
                <h2>{{userconfirm.header}}</h2>
                <div class="inputModal modalContent flexcroll"
                     v-html="userconfirm.content">
                </div>
                <button v-on:click="userconfirm.ifCancelled()" class="pull-right">{{userconfirm.cancelCaption}}</button>
                <button v-on:click="userconfirm.ifConfirmed()" class="pull-right">{{userconfirm.confirmCaption}}</button>
            </div>
        </dialog>
    </script>

    <script type="text/x-template" id="vueTemplate-modal-info">
        <dialog class="inputModal shadow" id="UserInfo">
            <button onclick='new VueConsoleHelper().CloseGlobalInfoModal(this.parentElement.id)' class="pull-right">&times;</button>
            <div class="form-group">
                <h2>{{modal.header}}</h2>
                <div class="inputModal modalContent flexcroll"
                     v-html="modal.content">
                </div>
            </div>
        </dialog>
    </script>

    <script type="text/x-template" id="vueTemplate-mode-indicator">
        <div id='modeIndicator'>
            <img src="indicatorprop.image" class="modeIndicatorImage" />
            <span class="modeIndicatorLabel">{{indicatorprop.title}}</span>
        </div>
    </script>

    <script type="text/x-template" id="vueTemplate-formula-box">

        <div v-if="panels.formulaBar.show" id='vueFormulaBox'>
            <table>
                <tr>
                    <td>
                        <label for="txtFormulaInput">Formula</label>
                        <br />
                        <input class="dynamic3" id="txtFormulaInput"
                               v-on:keyup.enter="formulaprop.executeFormula()"
                               v-model='formulaprop.formulaValue'
                               datalist="formulaHistory">
                        </input>
                        <datalist id="formulaHistory">
                            <option v-for="formula in formulaprop.formulaHistory" v-bind:value="formula.formula">{{formula.formula}}</option>
                        </datalist>
                    </td>
                    <td>
                        <label for="cmdFormulaGenerate">&nbsp</label>
                        <div>
                            <button class="mybutton" id="cmdFormulaGenerate"
                                    v-on:click="formulaprop.executeFormula(formulaprop.formulaValue)">
                                generate
                            </button>
                        </div>
                    </td>
                    <td>
                        <label for="cboFormulaTranslator">Translator</label>
                        <br />
                        <select id="cboFormulaTranslator"
                                v-model="formulaprop.selectedTranslatorName"
                                v-on:change="formulaprop.selectTranslator(formulaprop.selectedTranslatorName)">
                            <option v-for="item in formulaprop.translators"
                                    v-bind:value="item.Name"
                                    v-bind:key="item.Name">
                                {{item.Name}}
                            </option>
                        </select>
                    </td>
                    <td>
                        <label for="cboFormulaExamples">Examples</label>
                        <br />
                        <select class="halfbox" id="cboFormulaExamples" name="formulaExample"
                                v-model="formulaprop.selectedExample"
                                v-on:change="formulaprop.executeExampleFormula()">
                            <option v-for="example in formulaprop.currentTranslator.Examples"
                                    v-bind:value="example">
                                {{example}}
                            </option>
                        </select>
                    </td>

                    <td v-show="(formulaprop.currentTranslator.ImportExamples && formulaprop.currentTranslator.ImportExamples.length>0)">
                        <label for="cboFormulaImports">Imports</label>
                        <br />
                        <select id="cboFormulaImports"
                                v-model="formulaprop.selectedImport"
                                v-on:change="formulaprop.importFromUrl(formulaprop.selectedImport.value)">
                            <option v-for="importExample in formulaprop.currentTranslator.ImportExamples"
                                    v-bind:value="importExample">
                                {{importExample.name}}
                            </option>
                        </select>
                    </td>

                    <td>
                        <label for="cmdInfo">&nbsp</label>
                        <br />
                        <div>
                            <button id="cmdInfo"
                                    onclick="new VueConsoleHelper().ShowGlobalInfoModal('TranslatorInfo')">
                                <i class="glyphicon glyphicon-question-sign"></i>
                            </button>
                        </div>
                    </td>

                    <td>
                        <label for="cmdTest">&nbsp</label>
                        <br />
                        <div>
                            <button id="cmdTest" v-on:click="formulaprop.generateLink()">Create Link</button>
                        </div>
                    </td>

                </tr>
            </table>

            <vw-info-modal modalId='TranslatorInfo'
                           v-bind:canCancel='true'
                           v-bind:strHeader='formulaprop.currentTranslator.Name'
                           v-bind:htmlContent='formulaprop.currentTranslator.ReferenceContent'>
            </vw-info-modal>

            <vw-info-modal modalId='GenerateLink'
                           strHeader='Formula link'
                           v-bind:htmlContent='formulaprop.generatedGraphLink'>
                button1Caption='Copy Link'
                v-bind:button1Function='formulaprop.copyLink(formulaprop.generatedGraphLink)'
            </vw-info-modal>

            <vw-info-modal modalId='WaitingModal1'
                           v-bind:canCancel='false'
                           strHeader='Loading'
                           htmlContent='Please wait...'>
            </vw-info-modal>
        </div>

    </script>


    <!---------GULP SCRIPT INJECTOR --------------->
    <!-- inject:js -->
    <!-- endinject -->
    <!---------GULP SCRIPT MINIFIER --------------->
    <!-- build:js scripts/combined2.js -->
    <!-----VUE Scrips----->
    <script src="scripts/VueComponents/ConsoleElements.js"></script>
    <!-- endbuild -->


</body>

<!--------------------------------------------------------------------------------------------------------------------------------------------------------->



<div id='invisibleElements'>

</div>



<!--<dialog class='nodeFlyout' id="panel.node">
    <textarea id="myDialogText"></textarea>
    <button onclick="closeDialog('myDialog')">Close</button>
</dialog>-->




</html>
